<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<a href="#" (click)="sendRequests($event)">POST requests</a><br>
<br>
<a href="#" (click)="debugHttpQueue($event)">debug queue</a><br>
<a href="#" (click)="changePriorityPost($event)">change post prio</a><br>
<router-outlet></router-outlet>
